# Object files
*.o

# Executables
*.out
*.exe
*.bin

# Libraries
*.so
*.a
*.dll
munit/

# Debug files
*.dSYM/
*.pdb

# Build directories
build/
bin/
obj/
.cache/

# Make and dependency files
*.d
Makefile.local

# Editor/IDE specific files
.vscode/
.idea/
*.swp
*~
